<div nz-row nzJustify="center">
  <h1>Contact</h1>
</div>
<div nz-row nzJustify="center">
  <h2 class="quote">
    "Your best and wisest refuge from all troubles is in your science"
  </h2>
</div>
<div nz-row nzJustify="center">
  <h3 class="attribution">Ada Lovelace</h3>
</div>

<nz-divider></nz-divider>
<div nz-row [nzGutter]="32">
  <div nz-col>
    <nz-avatar class="icon" nzShape="square" nzIcon="mail"> </nz-avatar>
    <a href="mailto:jordansmohler@gmail.com">jordansmohler@gmail.com</a>
  </div>
  <div nz-col>
    <nz-avatar class="icon" nzShape="square" nzIcon="linkedin"> </nz-avatar>
    <a href="https://www.linkedin.com/in/mohlerjordan"
      >https://www.linkedin.com/in/mohlerjordan</a
    >
  </div>
  <div nz-col>
    <nz-avatar class="icon" nzShape="square" nzIcon="github"> </nz-avatar>
    <a href="https://github.com/jsmohler">https://github.com/jsmohler</a>
  </div>
</div>
<nz-divider></nz-divider>
