<div nz-row nzJustify="center" class="section-header">
  <div nz-col [nzSpan]="24">
    <h1>Contact</h1>
  </div>
  <div nz-col [nzSpan]="24">
    <h2 class="quote">
      "Somewhere, something incredible is waiting to be known" - Carl Sagan
    </h2>
  </div>
</div>

<nz-divider></nz-divider>
<div nz-row nzJustify="space-around" [nzGutter]="[16, 16]">
  <div nz-col style="text-align: center">
    <a href="mailto:jordansmohler@gmail.com">
      <nz-avatar
        class="icon"
        nzShape="square"
        nzSize="large"
        nzIcon="mail"
      ></nz-avatar>
    </a>
  </div>
  <div nz-col>
    <a href="https://www.linkedin.com/in/mohlerjordan">
      <nz-avatar class="icon" nzShape="square" nzSize="large" nzIcon="linkedin">
      </nz-avatar>
    </a>
  </div>
  <div nz-col>
    <a href="https://github.com/jsmohler">
      <nz-avatar class="icon" nzShape="square" nzSize="large" nzIcon="github">
      </nz-avatar>
    </a>
  </div>
</div>
<nz-divider></nz-divider>
