:host {
  width: 90%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(142, 132, 126);
}

.icon {
  background-color: #48737a;
  margin-right: 8px;
}

.quote {
  color: #dedbd9;
  font-family: "kaushan";
}

.attribution {
  color: #dedbd9;
}

a {
  /* color: white; */
  font-weight: 500;
}

nz-tag {
  cursor: pointer;
  font-size: calc(0.85em + 0.25vw);
  padding: 5px;
  margin: 8px;
  width: 100%;
  border-radius: 5px;
}
