<div nz-row nzJustify="center">
  <h1 style="margin-bottom: 12px">About Me</h1>
</div>
<div nz-row nzAlign="center" nzJustify="space-between" nzGutter="8">
  <div nz-col [nzSpan]="8">
    Recent computer science graduate offering a strong foundation in programming
    principals, ability to quickly grasp new concepts, and adaptability to
    rapidly changing software demands. Experienced with object-oriented
    programming, standard software design principles, and software development
    processes, including agile methodologies. Thrives in both team and
    individual work environments.
  </div>
  <div nz-col [nzSpan]="8" style="display: flex; justify-content: center">
    <img src="../../../assets/images/waterfall_selfie.png" height="225px" />
  </div>
  <div nz-col [nzSpan]="8" style="text-align: center">
    <h2>Name</h2>
    <div>Jordan S Mohler</div>
    <br />
    <h2>Region</h2>
    <div>US Pacific Northwest</div>
    <br />
    <h2>Hobbies</h2>
    <div>Astrophotography, Ukulele, Reading</div>
  </div>
</div>
