.lowpoly-self {
  max-height: 60vh;
  max-width: 60vw;
  position: absolute;
  bottom: -1px;
  right: 16px;
}

.welcome-text {
  font-family: "mmhmm";
  font-size: 72px;
  margin-top: 0.5em;
  margin-left: 1em;
}
