<div class="cover">
  <div
    nz-row
    nzType="flex"
    nzJustify="center"
    class="welcome-text-outer-container"
  >
    <div nz-col>
      <div class="welcome-text-inner-container">
        <h1 class="welcome-text">Jordan Mohler</h1>
        <h2>
          a work in progress
          <div style="margin-top: 50px; font-size: 72px">
            <a
              nz-button
              nzType="link"
              nzGhost
              nzSize="large"
              (click)="scrollToSection('about')"
            >
              <i class="down-icon" nz-icon nzType="down" nzTheme="outline"></i>
            </a>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div id="content">
  <nz-affix [nzOffsetTop]="48" class="nav">
    <nz-tabset
      nzLinkRouter
      [nzLinkExact]="false"
      nzTabPosition="right"
      [nzType]="'line'"
      nzSize="large"
    >
      <nz-tab>
        <a nz-tab-link [routerLink]="['.']" [fragment]="'about'">About Me</a>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link [routerLink]="['.']" [fragment]="'skills'">Skills</a>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link [routerLink]="['.']" [fragment]="'experience'"
          >Experience</a
        >
      </nz-tab>
      <nz-tab>
        <a nz-tab-link [routerLink]="['.']" [fragment]="'publications'"
          >Publications</a
        >
      </nz-tab>
      <nz-tab>
        <a nz-tab-link [routerLink]="['.']" [fragment]="'testimonials'"
          >Testimonials</a
        >
      </nz-tab>
      <nz-tab>
        <a nz-tab-link [routerLink]="['.']" [fragment]="'contact'">Contact</a>
      </nz-tab>
    </nz-tabset>
  </nz-affix>
  <div class="content-section about-content">
    <app-about id="about"></app-about>
  </div>
  <div class="content-section contact-content">
    <app-contact id="contact" style="background-color: aqua"></app-contact>
  </div>
</div>
