<nz-layout class="app-layout">
  <div nz-row nzJustify="center" nzAlign="center" class="outer-content">
    <div
      nz-col
      style="align-self: center;"
      [nzXs]="24"
      [nzSm]="22"
      [nzMd]="20"
      [nzLg]="18"
      [nzXl]="16"
    >
      <nz-header class="header">
        <div nz-row nzJustify="end">
          <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/home">Home</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/about">About Me</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/resume">Experience</a>
            </li>
            <li nz-menu-item nzMatchRouter class="end-menu-item">
              <a routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nz-header>
      <nz-content>
        <nz-card class="inner-content">
          <router-outlet></router-outlet>
        </nz-card>
      </nz-content>
    </div>
  </div>
  <div nz-row nzJustify="center">
    <nz-footer>Email: jordansmohler@gmail.com</nz-footer>
  </div>
</nz-layout>
