<div class="cover">
  <div
    nz-row
    nzType="flex"
    nzJustify="center"
    class="welcome-text-outer-container"
  >
    <div nz-col>
      <div class="welcome-text-inner-container">
        <h1 class="welcome-text">Jordan Mohler</h1>
        <h2>
          <div style="margin-top: 50px">
            <a
              nz-button
              nzType="link"
              nzGhost
              nzSize="large"
              (click)="scrollToSection('about')"
            >
              <i class="down-icon" nz-icon nzType="down" nzTheme="outline"></i>
            </a>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div id="content">
  <div class="content-section about-content">
    <app-about id="about"></app-about>
  </div>
  <div class="content-section blush-content">
    <app-skills id="skills"></app-skills>
  </div>
  <div class="content-section experience-content">
    <app-experience id="experience"></app-experience>
  </div>
  <div class="content-section blush-content">
    <app-publications id="publications"></app-publications>
  </div>
  <div class="content-section grey-content">
    <app-contact id="contact"></app-contact>
  </div>
</div>
