<div nz-row nzJustify="center" class="section-header">
  <div nz-col [nzSpan]="24">
    <h1>Education</h1>
  </div>
  <div nz-col [nzSpan]="24">
    <h2 class="quote">"Learning never exhausts the mind" - Leonardo DaVinci</h2>
  </div>
</div>

<div nz-row nzJustify="center">
  <div nz-col [nzXs]="21" [nzSm]="22" [nzMd]="16" [nzLg]="12" [nzXl]="10">
    <nz-list nzItemLayout="vertical">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            Bachelors of Science in Computer Science
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            University of Denver, Denver, CO
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        <p>Minors in Mathematics and Business Admininstration</p>
        <p>Graduated Cum Laude with a final GPA of 3.93</p>

        <br />

        <strong>Notable Coursework:</strong>
        <nz-tag nzColor="green">
          Introduction to Algorithms and Data Structures
        </nz-tag>
        <nz-tag nzColor="red">Calculus I, II, and III</nz-tag>
        <nz-tag nzColor="geekblue">Discrete Structures</nz-tag>
        <nz-tag nzColor="gold">Programming Languages</nz-tag>
        <nz-tag nzColor="purple">Database Organization and Management</nz-tag>
        <nz-tag nzColor="green">C# and .NET</nz-tag>
        <nz-tag nzColor="cyan">Software Engineering I</nz-tag>
        <nz-tag nzColor="volcano">Web Programming I and II</nz-tag>
        <nz-tag>Computer Networking</nz-tag>
        <nz-tag nzColor="purple">NoSQL Databases</nz-tag>
        <nz-tag>Introduction to Systems Programming</nz-tag>
        <nz-tag nzColor="red"
          >Introduction to Probability and Statistics</nz-tag
        >

        <br />
        <br />

        <strong>Activities and Leadership Roles:</strong>
        <ul>
          <li>President, DU Debate Union, 2017-2018</li>
          <li>
            Founder and President, Biracial and Multiracial Student Alliance,
            2016-2017
          </li>
          <li>Mentor, The Bridge Project, 2016</li>
        </ul>

        <nz-list-item-extra>
          <a href="https://ritchieschool.du.edu/">
            <img width="150" alt="logo" src="assets/images/du_logo.png" />
          </a>
        </nz-list-item-extra>
      </nz-list-item>
    </nz-list>
  </div>
</div>
