<div nz-row nzJustify="center" style="text-align: center; margin-bottom: 24px">
  <div nz-col [nzSpan]="24">
    <h1>Education</h1>
  </div>
  <div nz-col [nzSpan]="24">
    <h2 class="quote">"Learning never exhausts the mind" - Leonardo DaVinci</h2>
  </div>
</div>

<div nz-row nzJustify="center">
  <div nz-col [nzXs]="21" [nzSm]="22" [nzMd]="16" [nzLg]="12" [nzXl]="10">
    <nz-list nzItemLayout="vertical">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            Bachelors of Science in Computer Science
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            University of Denver, Denver, CO
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        <p>Minors in Mathematics and Business Admininstration</p>
        <p>Graduated Cum Laude with a final GPA of 3.93</p>
        <nz-list-item-extra>
          <a href="https://ritchieschool.du.edu/">
            <img
              width="150"
              alt="logo"
              src="../../../assets/images/du_logo.png"
            />
          </a>
        </nz-list-item-extra>
      </nz-list-item>
    </nz-list>
  </div>
</div>
