<div nz-row nzJustify="center">
  <h1>Skills</h1>
</div>

<div nz-row nzJustify="space-around">
  <div nz-col>
    <ng-container
      *ngTemplateOutlet="
        skillList;
        context: {
          $implicit: frameworkSkills,
          header: 'Frameworks'
        }
      "
    ></ng-container>
    <br />
    <br />
    <ng-container
      *ngTemplateOutlet="
        skillList;
        context: {
          $implicit: patternSkills,
          header: 'Patterns and Paradigms'
        }
      "
    ></ng-container>
    <br />
    <br />
    <ng-container
      *ngTemplateOutlet="
        skillList;
        context: { $implicit: awsSkills, header: 'AWS' }
      "
    ></ng-container>
  </div>

  <div nz-col>
    <ng-container
      *ngTemplateOutlet="
        skillList;
        context: { $implicit: languageSkills, header: 'Languages' }
      "
    ></ng-container>
    <br />
    <br />
    <ng-container
      *ngTemplateOutlet="
        skillList;
        context: { $implicit: databaseSkills, header: 'Databases' }
      "
    ></ng-container>
  </div>

  <div nz-col>
    <ng-container
      *ngTemplateOutlet="
        skillList;
        context: { $implicit: toolingSkills, header: 'Tooling' }
      "
    ></ng-container>
    <br />
    <br />
    <ng-container
      *ngTemplateOutlet="
        skillList;
        context: {
          $implicit: certificationSkills,
          header: 'Certifications'
        }
      "
    ></ng-container>
    <br />
    <br />
    <ng-container
      *ngTemplateOutlet="
        skillList;
        context: {
          $implicit: methodologySkills,
          header: 'Methodologies'
        }
      "
    ></ng-container>
    <br />
    <br />
    <ng-container
      *ngTemplateOutlet="
        skillList;
        context: { $implicit: softSkills, header: 'Non-Technical' }
      "
    ></ng-container>
  </div>
</div>

<ng-template #starIcon
  ><i nz-icon nzType="star" nzTheme="fill"></i
></ng-template>

<ng-template #skillList let-skills let-header="header" let-hideTitle="hide">
  <nz-list nzSize="small">
    <nz-list-header *ngIf="!hideTitle">
      <h2 class="skill-header">{{ header }}</h2>
    </nz-list-header>
    <nz-list-item *ngFor="let skill of skills">
      <p class="skill-name">{{ skill.name }}</p>
      <nz-rate
        *ngIf="skill.level > 0"
        [ngModel]="skill.level"
        nzDisabled
        [nzCharacter]="starIcon"
      ></nz-rate>
    </nz-list-item>
  </nz-list>
</ng-template>

<ng-template #collapseSkills>
  <nz-collapse *ngIf="isMobile" [nzBordered]="false">
    <nz-collapse-panel
      class="collapse-header"
      style="color: #48737a"
      nzHeader="Languages"
    >
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: {
            $implicit: languageSkills,
            header: 'Languages',
            hide: true
          }
        "
      ></ng-container>
    </nz-collapse-panel>
    <nz-collapse-panel class="collapse-header" nzHeader="Frameworks">
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: {
            $implicit: frameworkSkills,
            header: 'Frameworks',
            hide: true
          }
        "
      ></ng-container>
    </nz-collapse-panel>
    <nz-collapse-panel
      class="collapse-header"
      nzHeader="Patterns and Paradigms"
    >
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: {
            $implicit: patternSkills,
            header: 'Patterns and Paradigms',
            hide: true
          }
        "
      ></ng-container>
    </nz-collapse-panel>
    <nz-collapse-panel class="collapse-header" nzHeader="Databases">
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: {
            $implicit: databaseSkills,
            header: 'Databases',
            hide: true
          }
        "
      ></ng-container>
    </nz-collapse-panel>
    <nz-collapse-panel class="collapse-header" nzHeader="AWS">
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: { $implicit: awsSkills, header: 'AWS', hide: true }
        "
      ></ng-container>
    </nz-collapse-panel>
    <nz-collapse-panel class="collapse-header" nzHeader="Other">
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: { $implicit: methodologySkills, header: 'Methologies' }
        "
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: { $implicit: certificationSkills, header: 'Certifications' }
        "
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: { $implicit: softSkills, header: 'Non-Technical' }
        "
      ></ng-container>
    </nz-collapse-panel>
  </nz-collapse>
</ng-template>
