html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:host {
  flex-grow: 1;
}

.ant-list {
  color: #48737a;
  font-weight: 400;
}

.skill-name {
  padding-right: 12px;
}

.skill-header {
  text-align: center;
  font-weight: 500;
  color: #48737a !important;
}

.ant-collapse-borderless {
  background: none;
}

.collapse-header {
  font-weight: 500;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #48737a !important;
}
