<div
  nz-row
  nzJustify="center"
  class="section-header"
  style="padding: 0 16px 0 16px"
>
  <div nz-col [nzSpan]="24">
    <h1>Skill</h1>
  </div>
  <div nz-col [nzSpan]="24">
    <h2 class="quote">
      "The most dangerous phrase in the language is, 'We've always done it this
      way'" - Grace Hopper
    </h2>
  </div>
</div>

<div style="overflow: hidden">
  <div
    nz-row
    nzJustify="center"
    [nzGutter]="{ xs: 0, sm: 8, md: 24, lg: 32, xl: 48 }"
  >
    <div nz-col>
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: {
            $implicit: frameworkSkills,
            header: 'Frameworks'
          }
        "
      ></ng-container>
      <br />
      <br />
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: {
            $implicit: patternSkills,
            header: 'Patterns and Paradigms'
          }
        "
      ></ng-container>
      <br />
      <br />
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: { $implicit: awsSkills, header: 'AWS' }
        "
      ></ng-container>
    </div>

    <div nz-col>
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: { $implicit: languageSkills, header: 'Languages' }
        "
      ></ng-container>
      <br />
      <br />
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: { $implicit: databaseSkills, header: 'Databases' }
        "
      ></ng-container>
    </div>

    <div nz-col>
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: { $implicit: toolingSkills, header: 'Tooling' }
        "
      ></ng-container>
      <br />
      <br />
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: {
            $implicit: certificationSkills,
            header: 'Certifications'
          }
        "
      ></ng-container>
      <br />
      <br />
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: {
            $implicit: methodologySkills,
            header: 'Methodologies'
          }
        "
      ></ng-container>
      <br />
      <br />
      <ng-container
        *ngTemplateOutlet="
          skillList;
          context: { $implicit: softSkills, header: 'Non-Technical' }
        "
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #starIcon
  ><i nz-icon nzType="star" nzTheme="fill"></i
></ng-template>

<ng-template #skillList let-skills let-header="header" let-hideTitle="hide">
  <nz-list nzSize="small">
    <nz-list-header *ngIf="!hideTitle">
      <h2 class="skill-header">{{ header }}</h2>
    </nz-list-header>
    <nz-list-item *ngFor="let skill of skills">
      <p class="skill-name">{{ skill.name }}</p>
      <nz-rate
        *ngIf="skill.level > 0"
        [ngModel]="skill.level"
        nzDisabled
        [nzCharacter]="starIcon"
      ></nz-rate>
    </nz-list-item>
  </nz-list>
</ng-template>
